.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.container{
    margin-top: 25px;
    animation: 1s ease-out 0s 1 zoomIn;
}
html {
  background-color: #e0f0f5;
}
body {
    background-color: #e0f0f5;
}
.card {
    border-radius: 20px;
    border-width: 10px;
    border-color: rgba(0, 96, 108, 0.5);
}
.logo {

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 29px;
    letter-spacing: 1.8px;
    word-spacing: 4.6px;
    color: #14426C;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}
.margin-auto{
    margin: auto;
}

.padding-0{
    padding: 0;
}

.classifie-btn{
    float: right;
}

.margin-right-0{
    margin-right: 0;
}

input{
    margin-left: 16px;
}
ul{
    margin-left: 0;
    padding-left: 0;
}

li {
   list-style-type: none;
}

.margin-left-0{
    margin-left: 0;
}